<ion-header class="ion-no-border">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding">
    <ion-card class="ion-no-border" id="img-content">
      <ion-img src="../../assets/undraw_Cautious_dog_q83f.svg"></ion-img>
      <ion-card-content class="ion-text-center">
        <ion-card-title>Adopt Pet</ion-card-title>
        <ion-card-subtitle>Make a new friend and prepare your home for your buddy</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
    <div class="ion-text-center">
      <ion-button routerLink="/principal">Get Started</ion-button>
    </div>
  </div>
</ion-content>
